*{
    margin: 0;
padding: 0;
}
.cabecalho {background-color: rgb(224, 0, 0);
color: #ffffff;
display: flex;
justify-content: space-around;
padding: 24px 0;
}
 .cabecalho-imagem{
    width: 15%;
    height: 5%;}
 .cabecalho-lista-item{
display:ruby-base-container;
margin: 3 15px;
padding: 24px 0;
font-size: 24px;}
h1
 {display: inline-block;
    margin: 0 16px;
    padding: 120px 0;
    font-size: 35px;

 }
 .escola-titulo{
   padding: 24px; 0px; }
 p
 {
   margin:7px 30px ;
   padding:14px 20px ;
   font-size: 26px;
 }
    .escola-imagem{
      width: 30%;
    }
 .escola{
      background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 255, 255));
      color: rgb(0, 0, 0);
      display: flex;
   justify-content:center;
   align-items: center;
   padding: 24px 0;}

   .escola-conteudo
   {width: 56%;}
   .aluno-um {
      width: 30%;
   }
   .estudante-icone{
      width: 124px;
   }
.estudante-div
{text-align: center;}